@import './../../scss/variables';

.landing {
  position: relative;
  background: url('./../../image/bg.png') no-repeat center center/cover;
  height: 100vh;
}


.landing__dark-overlay {
  background-color: rgba($color: #000000, $alpha: 0.7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing__personal-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5vmin;

  >h2 {
    font-size: 6vmin;
  }

  >h3 {
    font-size: 3.5vmin;
    font-weight: 300;
  }

  >h2, h3 {
    color: $primary-color;
  }

  >p {
    color: $gray-color;
    font-size: 2.5vmin;
    font-weight: 300;
  }
}

.hello {
  width: 60vmin;
  height: 60vmin;
  border-radius: 50%;
  background-color: rgba($color: $primary-color, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .landing__heading {
    font-size: 20vmin;
  }
}