@import './../../scss/variables';

.techstack {
  min-height: 75vmin;
  background-color: $light-color;
}

.logos {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.logo-item {
  height: 130px;
  width: auto;
  margin: 30px;
}

img {
  height: 40%;
  width: auto;
}
