@import './../../scss/variables';

.contact {
  background-color: $primary-color;
  min-height: 40vmin;
  padding-top: 5rem;

  .contact-heading {
    text-align: center;
    font-size: 10vmin;
  }
}

.contact-logos {
  display: flex;
  justify-content: center;

  img {
    width: 60px;
    margin: 5vmin 2vmin;
    transition: ease-in 300ms;
    cursor: pointer;

    &:hover {
      filter: invert(100%) sepia(17%) saturate(3387%) hue-rotate(176deg) brightness(102%) contrast(98%);
      transition: ease-in 300ms;
    }
  }

  .contact-logo-item {
    transition: ease-out 300ms;
  }

}