@import './scss/variables';

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: $dark-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.section-heading {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.6;
  color: $dark-color;
  padding: 10vmin 0;
  text-align: center;
}

.section {
  padding: 0 10vmin 5vmin;
}

.script-heading {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-size: 10rem;
  line-height: 1.6;
  color: $white-color;
}

.card {
  background-color: $white-color;
  border-radius: 0.5rem;
  width: 320px;
  padding: 2rem;
  margin: 1.5rem;
  transition: transform ease-out 300ms;
  box-shadow: 0 2px 39px 9px #E5E8E8;

  &:hover {
    transform: translateY(-2rem) scale(1.1);
    transition: transform ease-out 300ms;
    box-shadow: 0 2px 39px 9px #C2EFFB;
  }
}